.update-match-score-container {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 'none';
}

.input-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.input-row > * {
  flex: 1;
  min-width: 0;
}

@media (max-width: 480px) {
  .input-row {
    flex-direction: column;
  }
}
